@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #00153e;
  --color-secondary: #ba022d;
  --color-surface: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e6e8ea;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #444650;
  --color-outline-variant: #c4c6d2;
  --color-tertiary-fixed: #9ff4c9;
  --color-on-tertiary-fixed: #002114;
  --color-secondary-fixed: #ffdad9;
  --color-on-secondary-fixed-variant: #920021;
  --color-secondary-container: #de2a43;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.victory-gradient {
  background: linear-gradient(135deg, #00153e 0%, #002868 100%);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  margin: 0;
  width: 280px !important;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}
